*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-indent: 0.5em; 
    margin: 0px;
}
.container{
    background-color: #234DBB;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0px; */
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.text{
    margin-top: 1px;
    text-indent: 1em;
}
.navbar{
    display: flex;
    font-weight: bold;
    Padding: 10px 10px 20px 10px ;
    margin-bottom: 0px;
    background-color: #152966;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.link{
    color: white;
    margin-right: 2em;
    margin-left: 0em;
    text-indent: 1.5em;
}
body{
    padding: 5px;
    background-color: grey;
}

.main{
    padding: 50px 20px 20px 20px;
    background-color:  white;
    border-top-color: #E5EBFA;
}

.temp{
    margin-bottom: 30px;
}

.temp h1{
    font-size: 22px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: inset 0px 7px 8px 2px rgba(98, 113, 180, 0.4);
    padding-top: 7px;

}

.temp p{
    font-size: 12px;
    padding-left: 9px;
}
